.about-page-container {
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mm-download-button {
    text-decoration: none;
    padding: 1em;
    background-color: #F8921E;
    color: white;
    border-radius: 2px;
}

.mm-video {
    height: 30vh;
    width: 30vw; 
    margin: 2em;
}