.home-container {
  min-height: 75vh;
  display: flex; 
  flex-direction: column;
}

.login-label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  display: flex; 
  align-items: flex-start
}

.login-span {
  padding: .06em;
  border-bottom: solid .07em;
  margin-bottom: 1em;
}

.login-span:hover {
  cursor: pointer;
}

.login-container {
margin-top: 3em;
width: 100vw;
display: flex; 
align-items: center;
flex-direction: column;
}

.login-label {
  text-align: left;
  margin-top: 1.6em;
  margin-bottom: .3em;
  font-size: 1em;
}

.login-title {
  font-size: 2.3em;
  font-weight: bold;
  padding: .1em;
  margin-top: 2em;
  margin-bottom: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); 
}

.pasword-warn-text {
  color: orange; 
  margin-top: .7em;
  font-size: .9em;
}

.login-btn {
  margin-top: 2.8em;
  margin-bottom: 1.5em;
}

.input-box {
  width: 24vw;
  margin-top: .9em;
}

/* Media Queries */

@media (max-width: 450px) { 
  .login-title {
    font-size: 1.8em;
    margin: .3em;
  }
  .input-container {
    width: 65vw;
  }
  .input-box {
    width: 100vw;
  }
  .pasword-warn-text {
    text-align: center;
    font-size: .75em; 
    font-weight: bold;
  }
}