.kitty-profile-pic {
    height: 20vh;
    width: auto;
}

.upper-dashboard-container {
    height: 10vh;
    /* width: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.dashboard-buttons {
    width: 24vw;
    margin-right: 1.2em;
    display: flex; 
    justify-content: space-evenly;
}

.network-container {
    margin-left: 1.4em;
    font-weight: bold;
    font-size: 1.3em;
}

.mid-dashboard-container {
    margin-top: 3em;
    width: 100vw;
    min-height: 25vh;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button {
    margin-bottom: 3.3em;
    margin-right: 5em; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.click-container {
    display: flex;
    justify-content: center;
}

.click-balance {
    font-size: 2.5em;
    text-align: center;
}

.eth-click {
    width: 18vh;
    height: auto;
    margin-top: 3em;
    background-color: rgb(184, 179, 179);
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 8em;
    padding-right: 8em;
    border-radius: 50%;
    transition: 950ms;
}

.eth-click:hover {
    background-color: rgb(72, 163, 101);
    cursor: pointer;
    /* width: 19vh;
    height: auto;
    padding-top: 5.5em;
    padding-bottom: 5.5em;
    padding-left: 8.8em;
    padding-right: 8.8em; */
}

.mm-sentences {
    height: 17vh;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
    margin-bottom: 7.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    text-align: center;
}

.mm-btn{
    margin-top: 1.5em;
}

.second-mm-sentence {
    border-right: .13em solid #00ff00;
    padding-right: .15em;
    animation: blink-caret .97s step-end infinite;
}