.main-dashboard-container {
    min-height: 75vh;
}

.upper-dashboard-container {
    height: 10vh;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.dashboard-buttons {
    width: 40%;
    margin-left: 1em;
    display: flex; 
    justify-content: space-evenly;
}

.network-container {
    margin-top: 2.3em;
    margin-left: 1.9em;
    font-weight: bold;
    font-size: 1em;
}

.delete-button {
    margin-bottom: 2.5em;
    margin-right: 5em; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.mm-sentences {
    height: 17vh;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
    /* margin-bottom: 7.5em; */
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    text-align: center;
}

.mm-btn{
    margin-top: 1.5em;
}

.second-mm-sentence {
    border-right: .13em solid #00ff00;
    padding-right: .15em;
    animation: blink-caret .97s step-end infinite;
} 

.network-warning-text {
    margin-top: 2em;
    margin-bottom: .8em;
    font-size: .8em;
    color: orange;
}

.ropsten-info-text {
    color: orange;
}

.user-eth-info {
    background-color: rgb(49, 49, 53); 
    border: solid 1px rgb(112, 109, 109);
    padding: .8em;
    border-radius: 2px;
}

.learn-cc-info {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    /* width: 90vw; */
}

.click-info-text {
    color: orange; 
    text-align: center;
    width: 80%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: .95em;
}

.click-info-image {
    border: gray solid 5px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: 40vh;
    width: auto;
}

.user-eth-info a {
    color: #00ff00;
}

.navbar-container {
    display: none; 
    z-index: 10;
    width: 2.8em;
}

.navbar-icon {
    display: none;
    color: #00ff00; 
    border: #00ff00, solid, 2px;
    justify-content: center;
    font-size: 1.8em;
    padding: .3em;
    border-radius: .1em;
    margin-right: .7em;
    margin-left: .25em;
}

.navbar-icon:hover {
    cursor: pointer;
}

.slide{
    right: 0px;
}

.navbar-menu {
    background-color: rgba(17, 16, 16);
    padding: .5em;
    text-align: center;
    height: 70%;
    right: -300px;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 1.3em; 
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    transition: .5s;
}

.slide {
    position: fixed;
    right: 0px; 
}

.slide li:hover {
    cursor: pointer;
}

.slide > li > a {
    text-decoration: none;
    color: #00ff00;
}

.navbar-menu > li > a {
    text-decoration: none;
    color: #00ff00;
}


/* Media Queries */

@media (max-width: 1150px) {
    .delete-button {
        display: none;
    }
    
    .network-container{
        margin-top: 2.7em;
    }
    .dashboard-buttons {
        display: none;
    }
    .mm-sentences {
        font-size: 1.15em;
    }
    .navbar-container {
        display: flex;
        flex-direction: column;
    }
    .navbar-icon {
        display: flex;
        width: 5vw;
        height: 3vh;
    }
    .menu-container {
        margin-top: .3em;
    }
    .user-eth-info h3 {
        font-size: .85em;
    }
}

@media (max-width: 450px) { 
    .mm-sentences {
        font-size: .75em;
    }
    .network-warning-text {
        font-size: .5em;
    }
    .network-container {
        margin-top: 3em;
    }
  }

  @media (max-width: 330px) { 
    .network-container {
        width: 85%
    }
    .navbar-icon {
        z-index: 10;
    }
    .navbar-menu {
        height: 60%;
        width: 30%;
        /* margin-left: 60px; */
    }
    .user-eth-info {
        background: none;
    }
  }

