.main-dashboard-container {
    min-height: 75vh;
}

.upper-dashboard-container {
    height: 10vh;
    /* width: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.dashboard-buttons {
    width: 24vw;
    margin-right: 1.2em;
    display: flex; 
    justify-content: space-evenly;
}

.network-container {
    margin-top: 2.3em;
    margin-left: 1.9em;
    font-weight: bold;
    font-size: 1em;
}

.delete-button {
    margin-bottom: 2.5em;
    margin-right: 5em; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.mm-sentences {
    height: 17vh;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
    margin-bottom: 7.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    text-align: center;
}

.mm-btn{
    margin-top: 1.5em;
}

.second-mm-sentence {
    border-right: .13em solid #00ff00;
    padding-right: .15em;
    animation: blink-caret .97s step-end infinite;
} 

.network-warning-text {
    margin-top: .9em;
    margin-bottom: .8em;
    font-size: .75em;
    color: orange;
}

.ropsten-info-text {
    color: orange;
}

@media (max-width: 450px) { 
    .mm-sentences {
        font-size: .75em;
    }
    .network-warning-text {
        font-size: .5em;
    }
    .delete-button {
        display: none;
    }
    .dashboard-buttons {
        display: none;
    }
  }