.mid-dashboard-container {
    margin-top: 3em;
    width: 100vw;
    min-height: 25vh;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.click-container {
    display: flex;
    justify-content: center;
}

.click-balance {
    margin-top: 3%;
    font-size: 2.5em;
    text-align: center;
}

.click-balance-text {
    text-align: center;
    font-size: 1em;
    margin-top: 1.4em;
}

.eth-click {
    width: 8%;
    border: solid 6px gray;
    height: auto;
    margin-top: 3%;
    background-color: rgb(184, 179, 179);
    padding-top: 3.25%;
    padding-bottom: 3.25%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 50%;
    transition: 600ms;
}

.eth-click:hover {
    cursor: pointer;
    border: solid 7px gray;
}

.eth-animation {
    background-color: rgb(72, 163, 101);
}

.tokenize-button-container {
    width: 90%;
    font-size: 1em;
    margin-top: 2.5em; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tokenize-text {
    margin-top: 1em;
    text-align: center;
    width: 110%;
    font-size: .75em;
    color: orange;
}

.block-load-img {
    height: 10em;
    width: auto;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    animation: spin 4.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(180deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
    50% {
        transform: rotate(180deg); 
    }
    0% {
        transform: rotate(0deg); 
    }
}

@media (max-width: 450px) { 
    .click-balance-text {
        font-size: .6em;
        margin-top: 1em;
    }
    .click-balance {
        margin-top: 1.3em;
        font-size: 1.5em;
        text-align: center;
    }
    .eth-click {
        margin-top: 1.2em;
    }
}
