@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.App {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(26, 38, 48);
  color: #00ff00;
}

.btn {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  background-color: rgb(148, 143, 143);
  padding: .9em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: .9em;
  border-radius: .3em;
  font-weight: bold;
  border: none;
  outline: none;
  transform: 800ms;
}

.btn:hover {
  cursor: pointer;
  color: rgb(196, 192, 192);
  background-color: rgb(26, 77, 29);
}

.red-btn {
  background-color: rgb(148, 143, 143);
}

.red-btn:hover {
  color: rgb(196, 192, 192);
  background-color: rgb(153, 59, 25);
}

.input-box {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: .5em;
}

.accent-line {
  background-color: #ffffff;
  height: .2vh;
  width: 100%;
  margin-top: auto;
}

.typewriter-login {
  overflow: hidden;
  border-right: .13em solid #00ff00;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    type .38s steps(7), 
    blink-caret .85s step-end infinite;
}


@keyframes type {
0% {
  width: 0ch; 
}
100% {
  width: 5ch;
}
}

@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: #00ff00; }
}

.link-span {
  text-decoration: none; 
  color: #00ff00;
  border-bottom: solid .07em;
}

.link-span:hover{
  cursor: pointer;
}

.link-span a {
  text-decoration: none;
}

