.delete-page-container {
    min-height: 67vh;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-page-title {
    font-size: 2em;
    margin: 2em;
    text-align: center;
}

.delete-page-text {
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.delete-page-buttons {
    margin-top: 1.4em;
    display: flex; 
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

  